@font-face {
	font-family: Averta CY;
	src: url("Averta Cyrillic Regular.otf")
}
html {
	font-family: "Averta CY";
}
.container {
	max-width: 1600px;
	margin: auto;
}
h1 {
	font-style: normal;
	font-weight: bold;
	font-size: 56px;
	line-height: 69px;
	color: #1D2F3C;
}
.services {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 48px 0 0;
}
.services__item {
	width: 48%;
	height: 360px;
	background: url(image36.jpg) center center no-repeat;
	background-size: cover;
	border-radius: 8px;
	text-decoration: none;
	position: relative;
	color: #fff;
	margin-bottom: 48px;
}
.services__item:hover .services__item__text{
  text-decoration: underline;
}
.services__item__text {
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 136.28%;
	color: #fff;
	position: absolute;
	bottom: 30px;
	left: 30px;
}

.consultation-form-wrap {
	display: flex;
	margin: 80px 0;
}
.consultation-form-inner {
	padding: 70px 0 70px 90px;
	flex-grow: 1;
}
.consultation-form__title {
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 40px;
	color: #1D2F3C;
	margin-bottom: 80px;
}
.consultation-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.consultation-form__input {
	width: 31%;
	position: relative;
	margin-bottom: 15px;
}
.consultation-form__input:nth-child(1) {
	order: 1;
}
.consultation-form__input:nth-child(2) {
	order: 2;
}
.consultation-form__input input {
	font-size: 15px;
	color: #1D2F3C;
	padding: 15px 0 15px 12px;
	width: 100%;
	border: 1px solid #D7DBDE;
	border-radius: 8px;
}
.consultation-form__input input:focus {
	border: 1px solid #FC7603;
	outline: none;
}
.consultation-form__input label {
  display: none;
	position: absolute;
	background: #fff;
	font-size: 13px;
	color: #FC7603;
	top: -7px;
	left: 10px;
	padding: 0 3px;
}
.consultation-form__submit {
	width: 31%;
	margin-bottom: 15px;
	order: 3;
}
.consultation-form__submit button {
	border: unset;
	background: linear-gradient(90deg, #F0531B 0%, #F89C0E 100%);
	border-radius: 36px;
	cursor: pointer;
	padding: 15px 0;
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 136.28%;
	text-transform: uppercase;
	color: #fff;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.consultation-form__submit button span {
	background: url(Vector.png);
	width: 22px;
	height: 20px;
	margin-right: 5px;
} 
.consultation-form__file input {
	display: none;
}
.consultation-form__file label {
	cursor: pointer;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 136.28%;
	text-transform: uppercase;
	color: #FC7603;
	padding-left: 26px;
}
.consultation-form__file {
	background: url(Dark.png) left center no-repeat;
	order: 4;
}
.subscribe-form-wrap {
	background: linear-gradient(90deg, #F0531B 0%, #F89C0E 100%);
	padding: 35px 0;
}
.subscribe-form-wrap .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}
.subscribe-form-text {
	font-weight: bold;
	font-size: 21px;
	color: #FFFFFF;
	width: 50%;
}
.subscribe-form {
	width: 48%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.subscribe-form input {
	width: 47%;
	border: unset;
	outline: none;
	font-size: 15px;
  color: #7A858D;
	padding: 15px 0 15px 12px;
	border-radius: 8px;
}
.subscribe-form button {
	width: 47%;
	border: unset;
	border: 2px solid #FFFFFF;
  border-radius: 36px;
	background: #FC7603;
	color: #FFFFFF;
	text-transform: uppercase;
	cursor: pointer;
	padding: 13px 0;
}

@media (max-width:1600px) {
	.container {
		padding: 0 32px;
	}
}
@media (max-width:1280px) {
	.consultation-form__img {
		display: none;
	}
	.consultation-form-inner {
		padding: 0;
	}
	.consultation-form-wrap {
		margin: 0 0 50px;
	}
	.consultation-form__title {
		margin-bottom: 24px;
	}
}
@media (max-width:800px) {
	.services__item {
		width: 100%;
		height: 320px;
	}
	.consultation-form__title {
		font-size: 18px;
	}
	.consultation-form__submit button span {
		display: none;
	}
	.subscribe-form-text {
		width: 100%;
		margin-bottom: 18px;
	}
	.subscribe-form {
		width: 100%;
	}
}
@media (max-width:450px) {
	.container {
		padding: 0 16px;
	}
	h1 {
		font-size: 28px;
		line-height: 35px;
	}
	.services {
		margin: 16px 0;
	}
	.services__item {
		margin-bottom: 20px;
		height: 240px;
	}
	.services__item__text {
		font-size: 24px;
	}
	.consultation-form__input,
	.consultation-form__submit,
	.consultation-form__file {
		width: 100%;
	}
	.consultation-form__file {
		order: 1;
		margin-bottom: 15px;
	}
	.subscribe-form input {
		width: 100%;
		margin-bottom: 24px;
	}
	.subscribe-form button {
		width: 100%;
	}
}
